* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    .dark {
        --background: #121212;
        --text: #ffffff; 
        --mid: #2e2e2e;
        --accent: #1DB954;
    }

    .light {
        --background: #ffffff;
        --mid: #d3d3d3;
        --text: #121212; 
        --accent: #1DB954;
    }
}

