.buttonpattern {
    background-color: color-mix(in srgb, var(--accent) 20%, var(--mid));
    color: var(--text);
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    overflow: hidden;

    border: 1px solid var(--accent);
    border-radius: 0.6rem;

    transition: 0.2s all ease-in-out;

    &:hover {

        background-color: #0044ffd4;
        filter: brightness(0.9);
        border-color: var(--text);
        transform: translateX(1px) translateY(-1px);
        font-weight: bold;
        font-size: clamp(0.8rem, 1vw, 1.2rem);
    }

    & svg {
        width: clamp(25px, 1vw, 40px);
        height: clamp(25px, 1vw, 40px);
    }
}