.buttonpattern {
    position: relative;
    background-color: var(--mid);
    color: var(--text);

    border: none;
    border-radius: 0.6rem;

    padding: 0.5rem;
    cursor: pointer;

    overflow: hidden;

    & svg {
        width: 30px;
        height: 30px;
    }
}

/* base: só linha embaixo */
.buttonpattern::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background: var(--accent);

    transform: scaleX(1);
    transform-origin: left;

    transition: transform 0.2s ease;
}

/* hover: “sobe” virando contorno */
.buttonpattern:hover::after {
    transform: scaleX(1);
    height: 100%;

    border-radius: 0.6rem;
    opacity: 0.12;
}

