.buttonpattern {
    background-color: color-mix(in srgb, var(--accent) 20%, var(--mid));
    color: var(--text);
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    font-size: clamp(0.8rem, 1vw, 1.2rem);

    border: 1px solid var(--accent);
    border-radius: 0.6rem;

    transition: 0.2s all ease-in-out;

    &:hover {
        filter: brightness(1.3);
        transform: translateX(1px) translateY(-1px);
        font-weight: bold;
    }

    & svg {
        width: clamp(25px, 1vw, 40px);
        height: clamp(25px, 1vw, 40px);
    }
}