

.libraryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  gap: 0.6rem;

  background-color: var(--background);
}

.libraryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  padding: 1rem;
  background-color: var(--background);
  color: var(--text);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.libraryinfo{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;

  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.libraryContentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 820px;


  gap: 0.6rem;
  padding: 1rem;

  border-radius: 0.4rem;
  border: 1px solid var(--accent);

  background-color: var(--mid);

  min-height: 0;
  
  overflow: hidden;
}

.libraryContent{
  padding-right: 0.5rem;

  background-color: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  flex: 1;

  gap: 0.6rem;

  overflow-y: auto;
  overflow-x: hidden;

  min-height: 0;

  scroll-behavior: smooth;

  box-shadow: 0 0 30px #000000;
}
.libraryItem{
  background-color:var(--mid);
  color: var(--text);
  border-radius: 0.4rem;
  padding: 0.6rem;
  width: 100%;
  
  border: 1px solid var(--accent);
  border-top:10px solid var(--accent);


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.6rem;

  & img {
    width: clamp(40px, 5vw, 100px);
    height: clamp(40px, 5vw, 100px);
  }
}


.libraryItemInfo{
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.libraryItemInfoText{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.libraryItemActions{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;

  & button {
    padding: clamp(0.5rem, 1vw, 1.8rem);
    font-size: clamp(0.8rem, 1vw, 1.8rem);
  }
}

.itemActionBack{
    border: 1px solid transparent;
    border-radius: 0.3rem;
    border-bottom: 1px solid red;
    box-shadow: 0 0 5px var(--shadow);
    
    padding: 0.5rem;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    
    &:hover {
        box-shadow: 0 0 5px red;
        transform: translateY(-2px) translateX(6px);
        border-color: red;
        color: red;
        box-shadow:inset 0 0 10px red, 0 0 10px red;

    }

}