.playerControls{
    width: auto;
    min-width: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 3rem;


    background-color: transparent;

}

.button{
    background-color: var(--accent);
    color: var(--text);
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(0 0 5px var(--grey-shadow));

    &:hover{
        filter: brightness(1.2) drop-shadow(0 0 5px var(--accent));
        transform: translateX(1px) translateY(-1px);
    }
    &:active{
        transform: scale(0.95);
    }
}

.subButton{
    font-size: 1.2rem;
}

.ppButton{
    font-size: 1.5rem;
}
