.playerScreen {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
  background: #050510;
}

/* camada blur neural */
.playerScreen::before {
  content: "";
  position: absolute;
  inset: -20%;
  z-index: 0;
  filter: blur(120px);
  opacity: 0.8;
  background: var(--background);
  animation: neuralMove 18s ease-in-out infinite alternate;
}

/* deixa conteúdo acima */
.playerScreen>* {
  position: relative;
  z-index: 1;
}

@keyframes neuralMove {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(1.2) rotate(8deg);
  }
}

.content {
  display: grid;
  grid-template-columns: clamp(200px, 20vw, 300px) 1fr clamp(200px, 20vw, 400px);
  align-items: stretch;
  overflow: hidden;
  height: 100%;
  min-height: 0;
  position: relative;
}

.playerArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  padding: 12px 24px;
  gap: 0.6rem;

  position: relative;
  overflow: visible;
  background: var(--background);


  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-top: 1px solid var(--border);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);

}

.musicInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  min-width: 200px;
  width: 100%;
  max-width: clamp(200px, 20vw, 380px);

  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-right: 0.4rem;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.12) 20%,
    rgba(58, 58, 58, 0.18) 90%
  );

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

  color: var(--text);
}

.musicInfoLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cover {
  width: clamp(60px, 1vw, 100px);
  height: clamp(60px, 1vw, 100px);
  background: #333;
  border-radius: 0.5rem;

  img {
    width: clamp(60px, 1vw, 100px);
    height: clamp(60px, 1vw, 100px);
    object-fit: cover;
  }
}


.musicDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & h3 {
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 600;
  }

  & p {
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    color: var(--text-secondary);
  }
}

.clearRadioBtn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;


  &:hover {
    color: var(--accent1);
  }

  & svg {
    width: 20px;
    height: 20px;
  }
}