.playerScreen {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    var(--accent) 80%,
    var(--background) 88%,
    var(--background) 100%
  );
}

.content {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  align-items: stretch;
  /* ← adiciona */
  overflow: hidden;
  height: 100%;
  min-height: 0;
}

.playerArea {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 24px;

  position: relative;
  overflow: visible;
}
.musicInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 200px;

  padding: 0.6rem;
  border-radius: 0.5rem;

  background: linear-gradient(to bottom, #a8a8a825, #00000081);
  color: var(--text);

  width: 100%;
  max-width: 400px;

  margin-right: 3rem;
}

.cover {
  width: clamp(60px, 1vw, 100px);
  height: clamp(60px, 1vw, 100px);
  background: #333;
  border-radius: 0.5rem;

  img {
    width: clamp(60px, 1vw, 100px);
    height: clamp(60px, 1vw, 100px);
    object-fit: cover;
  }
}


.musicDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & h3 {
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 600;
  }

  & p {
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    color: var(--text-secondary);
  }
}