::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  background: var(--border);
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent2);
  border-radius: 999px;
  border: 2px solid var(--accent1);
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--accent1) 80%, white);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}